.main-icon {
	vertical-align: middle;
}
.main-icon .main-icon-logo {
	margin: 5px;
	color: white;
	font-size: 40px;
}
.main-icon .main-icon-text {
	font-size: 40px;
	font-family: 'Baumans', cursive;
}